body {
    text-align: center;
    background: linear-gradient(25deg, blue, red); 
    background-color: lightskyblue;
}
#heading{
    font-family: cursive;
    font-size: 75px;
    margin-top: 50px;
}
#h1{
    border-style: groove;
    border-radius: 25px;
    border-width: 5px;
    border-color: linear-gradient(25deg, green, red); 
    background: linear-gradient(25deg, green, red); 
    margin-top: 100px;
    padding: 50px;
}
h2:hover{
    transform: scale(1.1);
}
.ball{
    border-radius: 50%;
    position: fixed;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    animation-name: bounce;
    animation-duration: 7s;
  }
#red{
    background: red;
    left: 27%;
    animation-timing-function: linear;
}
@keyframes bounce {
   from {left: 0px;}
   to {left: 500px;}
  }
#h2{
    border-style: inset;
    border-radius: 25px;
    border-width: 5px;
    border-color: linear-gradient(25deg, red, blue); 
    background: linear-gradient(25deg, red, blue); 
    padding: 50px;

}
#h3{
    border-style: ridge;
    border-radius: 25px;
    border-width: 5px;
    border-color: linear-gradient(25deg, blue, green); 
    background: linear-gradient(25deg, blue, green); 
    padding: 50px;
}
a{
    color: #FF007F;
}
a:visited{
    text-decoration: none;
    color: black; 
}
a:hover{
    color:red; 
}